<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <style type="text/css">
        table {
            width: 100%;
            margin-bottom: 4px;
            text-align: right;
            vertical-align: top;
        }
        table:first-child {
            margin-top: 8px;
        }
    </style>
{{#thermalprint}}
    <style type="text/css">
        body {
            font-family: Arial, sans-serif !important;
            font-size: 14px;
            padding: 0;
            margin: 0;
        }
        body div {
            font-size: 1.7em;
            padding: 0;
            margin: 0;
        }
        table td:last-child, .table-fit-first td:first-child {
            width:1%;
            white-space:nowrap;
            vertical-align: top;
        }
        bdi {
            font-size: 125% !important;
            line-height: 95%;
        }
    </style>
{{/thermalprint}}
{{^thermalprint}}
    <style type="text/css">
        @import url(/admin/assets/css/bootstrap.min.css);
        @import url(/admin/assets/css/font-awesome.min.css);
        @import url(/admin/assets/css/ace-fonts.css);
        @import url(/admin/assets/css/ace.min.css);

        body {

            background-color: #FFFFFF;
            font-size: default !important;
        }
        p, tr, strong, b {
            font-size: 13px;
        }
        body div {
            font-size: inherit !important;
        }
        tr td:first-child{
            width:1%;
            white-space:nowrap;
            vertical-align: top;
        }
        #container {
            width:300px;
            margin: 5px auto;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
        }
    </style>
{{/thermalprint}}
</head>
<body>
<div id="container">

    {{^thermalprint}}
        <img style="width: 260px;" src="{{logo_url}}"/><br/>
    {{/thermalprint}}

    <h3 style="text-align: center; margin: 4px;">{{header_line1}}</h3>
    <strong style="text-align: center">{{header_line2}}</strong>
    {{#header_line3}}
        <br/><strong style="text-align: center">{{header_line3}}</strong>
    {{/header_line3}}

    <table>
        <tr>
            <td>{{sale_ref}}</td>
            <td> : <bdi lang="ar" dir="rtl">إشارة الصفقة</bdi></td>
        </tr>
        <tr>
            <td>{{sale_dt}}</td>
            <td> : <bdi lang="ar" dir="rtl">بيع مرة</bdi></td>
        </tr>
    </table>

    <table class="table-fit-first">
        {{#sale_items}}
            <tr><td>{{#currency}}{{price}}{{/currency}}</td><td>({{#currency}}{{unit}}{{/currency}}) {{#alt_name}}<bdi>{{alt_name}}</bdi>{{/alt_name}}{{^alt_name}}{{name}}{{/alt_name}}</td> <td style="text-align: right; vertical-align: top;"> x {{qty}}</td></tr>
            {{#mod.items}}
                <tr><td></td><td>({{#currency}}{{price}}{{/currency}}) {{#value}} {{value}} :{{/value}}{{name}}{{#qty}} {{qty}} +{{/qty}}</td><td></td></tr>
            {{/mod.items}}
        {{/sale_items}}

        <tr style="height: 5px;"><td></td><td></td><td></td></tr>

        {{#show_subtotal}}
            <tr><td><b style="text-decoration: overline;">{{#currency}}{{sale_subtotal}}{{/currency}}</b></td><td colspan="2" style="text-align: right;"><b> : <bdi lang="ar" dir="rtl">حاصل الجمع</bdi></b></td></tr>
        {{/show_subtotal}}

        {{#sale_tax}}
            <tr><td>{{value}}</td><td colspan="2" style="text-align: right;">: <bdi>{{altlabel}}</bdi></td></tr>
        {{/sale_tax}}

        {{#sale_discount}}
            <tr><td>{{sale_discountamt}}</td><td style="text-align: right;" colspan="2"> : <bdi lang="ar" dir="rtl">تخفيض السعر</bdi> {{sale_discount}}%</td></tr>
        {{/sale_discount}}

        <tr><td><b style="text-decoration: overline;">{{#currency}}{{sale_total}}{{/currency}}</b></td><td colspan="2" style="text-align: right;"><b> : (<bdi lang="ar" dir="rtl">العناصر</bdi> {{sale_numitems}}) <bdi lang="ar" dir="rtl">الإجمالي الكلي</bdi></b></td></tr>
        <tr style="height: 2px;"><td></td><td></td><td></td></tr>

        {{#sale_payments}}
            <tr><td>{{#currency}}{{amount}}{{/currency}}</td><td colspan="2" style="text-align: right;"> : <bdi>{{altlabel}}</bdi></td></tr>
        {{/sale_payments}}
    </table>

    {{#sale_hasrefunds}}
        <p style="margin-top: 0; margin-bottom: 5px;">
            <strong><bdi lang="ar" dir="rtl">إعادة مال</bdi></strong>
        </p>
        <table style="width: 100%; margin-bottom: 5px;">
        {{#sale_refunds}}
            <tr><td>{{#currency}}{{amount}}{{/currency}}<br/>(<bdi lang="ar" dir="rtl">العناصر</bdi> {{numitems}})</td><td style="vertical-align: top;"><bdi>{{altmethod}}</bdi></td><td style="text-align: right; vertical-align: top;">{{datetime}}</td></tr>
        {{/sale_refunds}}
        </table>
    {{/sale_hasrefunds}}

    {{#sale_void}}
        <h2 style="text-align: center; color: #dc322f; margin-top: 5px;" lang="ar" dir="rtl">المعاملة باطلة</h2>
    {{/sale_void}}

    {{#eftpos_receipts}}
        <pre style="text-align: center; background-color: white;">{{eftpos_receipts}}</pre>
    {{/eftpos_receipts}}

    {{#footer}}
        <strong style="text-align: center;">{{footer}}</strong><br/>
    {{/footer}}

    {{^thermalprint}}
        {{#qrcode_url}}
        <img style="text-align: center; height: 75px; margin-top: 4px;" src="{{qrcode_url}}"/>
        {{/qrcode_url}}
    {{/thermalprint}}

    </div>
</body>
</html>